/* Dégradé full écran + display flex */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;

    /* GIF en fond via fichier local */
    background: url("mon-fond.gif") no-repeat center center;
    background-size: cover;

    font-family: "Poppins", sans-serif;
}

header {
    flex: 1; /* prend tout l'espace à gauche */
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
}

/* --- Photo ronde avec bordure verte --- */
.profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;

    border: 4px solid #24d42a; /* bordure verte */
    box-shadow: 0px 0px 25px 20px rgb(54 169 192 / 30%);
}

/* --- Carte blanche main avec fond transparent et bordure verte --- */
main {
    flex: 1.5;
    background: rgba(255, 255, 255, 0); /* transparent */
    border: 2px solid #24d42a; /* même vert que la photo */
    border-radius: 30px;
    padding: 2rem;
    margin: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}


/* Mise en forme du texte */
h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
}
