body {
    font-family: Arial, sans-serif;
    background: #fafbfb;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: auto;
    background: rgb(127, 186, 231);
    padding: 20px;
}
