:root {
  --text-color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;

  background: url("mon-fond.gif") no-repeat center center;
  background-size: cover;

  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

/*Colonne gauche : photo */
header {
  flex: 1; /* prend tout l'espace à gauche */
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */
}

/* Photo ronde avec bordure verte + glow */
.profile-photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #24d42a; /* bordure verte */
  box-shadow: 0px 0px 25px 20px rgb(54 169 192 / 30%);
}

/* Colonne droite : carte transparente avec bordure verte + glow */
main {
  flex: 1.5;
  background: rgba(255, 255, 255, 0); /* transparent */
  border: 2px solid #24d42a; /* même vert que la photo */
  border-radius: 30px;
  padding: 2rem;
  margin: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  /* glow comme la photo */
  box-shadow: 0px 0px 25px 20px rgb(54 169 192 / 30%);
}

/* Titres */
h1,
h2 {
  margin: 0;
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
}

/* Paragraphes et listes */
p,
li {
  color: var(--text-color);
}

/* Listes */
ul {
  list-style: none;
  padding: 0;
}

main h1,
main h2,
main p,
main li {
  color: white;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8), 0 0 8px rgba(36, 212, 42, 0.6),
    0 0 12px rgba(36, 212, 42, 0.3);
}

/* Conteneur à droite */
.logo {
  flex: 1; /* occupe la colonne de droite */
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */
  background: transparent;
}

/* Image */
.logo img {
  display: block;
  max-width: 350px; /* limite la taille maximale */
  width: 80%; /* optionnel : s’adapte à la colonne */
  height: auto; /* garde les proportions */
  object-fit: contain;
  background: transparent;
  border: none;
}
